<h1>My name is <%=@name %></h1>
<img src="http://bit.ly/1eze8aE" style="border:dashed red;">

<% if @name == nil %>
<form action="/named-cat-with-get">
 <fieldset>
   Name:<br>
   <input type="text" name="name"><br>
   <input type="submit" value="Submit">
 </fieldset>
</form>
<% end %>
